[submodule "src/roboteq"]
	path = src/roboteq
	url = https://github.com/g/roboteq.git
[submodule "src/dependencies/serial"]
	path = src/dependencies/serial
	url = https://github.com/wjwwood/serial.git
[submodule "src/ethz_piksi_ros"]
	path = src/ethz_piksi_ros
	url = https://github.com/ethz-asl/ethz_piksi_ros.git
[submodule "src/ouster_example"]
	path = src/ouster_example
	url = https://github.com/ouster-lidar/ouster_example.git
[submodule "src/dependencies/multimaster_fkie"]
	path = src/dependencies/multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie
[submodule "src/semantic-segmentation-pytorch"]
	path = src/semantic-segmentation-pytorch
	url = https://github.com/romleiaj/semantic-segmentation-pytorch
[submodule "src/differential-drive"]
	path = src/differential-drive
	url = https://github.com/romleiaj/differential-drive
