<?xml version="1.0"?>

<model>
        <name>enviroment</name>
	<version>1.0</version>
	
	<sdf version="1.5">model.sdf</sdf>
	
	<author>
		<name>Massimiliano Cutugno</name>
		<email>maxcutugno16@gmail.com</email>
	</author>

	<description>
		Enviroment is a simple physical sidewalk path for the PACMAN model to follow
	</description>
</model>
