<?xml version="1.0"?>

<model>
        <name>pacman_simplified</name>
	<version>1.0</version>
	
	<sdf version="1.5">model.sdf</sdf>
	
	<author>
		<name>Massimiliano Cutugno</name>
		<email>maxcutugno16@gmail.com</email>
	</author>

	<description>
	  PACMAN is a robot presented by Very Good Robotics for Clarkson Computer Engineering Senior design Project.
	  The simplified version is a model that subsitutes caster physics with frictionless ball joints.
	</description>
</model>
